# npm modules
/node_modules

# webstorm directory
/.idea/
/.idea/.gitignore
/.idea/daily-report.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/sonarlint/

# file with environment variables
.env*

# saved daily reports
/reports/*

.todo
